* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  width: 100vw;
  height: 100vw;
  -webkit-font-smoothing: antialiased;
}
:root {
  --background: #f9f9f9;
  --primary-color: #69b99d;
  --secund-color: #ccf4e6;
  --text-color: #767676;
  --dark-color: #0f241d;
}
body {
  background: var(--background);
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--dark-color);
}
p {
  padding: 15px;
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: white;
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  display: flex;
  border-bottom: 2px solid #e4e4e4;
  background: var(--background);
  width: 100vw;
}
.h {
  display: flex;
  padding: 10px;
  width: 100%;
}
.title {
  flex: 1;
}
.title span {
  color: var(--primary-color);
}
.menu-mobile {
  width: 1.5rem;
  fill: var(--primary-color);
}
.nav {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.nav a {
  color: black;
}
.nav.show {
  height: 100vh;
  width: 100vw;
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms, visibility 400ms ease-in-out;
  position: absolute;
  top: 0;
  z-index: 11;

  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  background: var(--background);
}
.nav.show a {
  color: var(--dark-color);
}

.nav.show ul li {
  list-style-type: none;
  padding: 1rem;
  font-size: 2.14rem;
}

nav ul li .active {
  transition: 300ms ease-in-out;
  font-weight: bold;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
  padding: 10px;
}
.nav ul li a {
  -webkit-font-smoothing: auto;
}
.nav ul li:hover {
  list-style: none;
  transition: 200ms ease-in-out;
  transform: scale(1.05);
}
.nav ul li a:hover {
  color: var(--primary-color);
  transition: ease-in-out;
  font-weight: bold;
}

.close {
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.closeNav {
  width: 1.2rem;
  margin-bottom: 25px;
}
.container {
  margin: auto;
  margin-top: 8rem;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home {
  display: flex;

  text-align: center;
  flex-direction: column;
}
.img-home {
  width: 80%;
  margin-top: 60px;
  box-shadow: 65px -35px var(--secund-color);
}
.content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
  padding: 20px;
  border: none;
  background: var(--primary-color);
  font-weight: bold;
  margin-top: 10px;
  transition: 200ms ease-in-out;
  border-radius: 5px;
}
button:hover {
  opacity: 0.8;
}
.separator {
  width: 100%;
  margin-bottom: 20px;
  height: 1px;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secund-color)
  );
}
.section {
  padding-bottom: 6rem;
  border-bottom: 1px solid line;
}

/*about */
.content-about > h2 {
  padding: 15px 0px 0px 15px;
}
.img-about {
  box-shadow: -115px var(--secund-color);
  width: 100%;
}
/*services*/
#services span {
  color: var(--primary-color);
  font-weight: 700;
}
.presentation h2 {
  padding: 15px 0px 0px 15px;
}
.presentation span {
  color: var(--dark-color);
}
.card-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 20px;
  gap: 10px;
  width: 80%;
  min-width: 200px;
  max-width: 400px;
  border-bottom: 5px solid var(--primary-color);
}
.comments {
  padding: 25px;
}
.comments > p {
  text-indent: 15px;
}
.comments p span {
  font-size: 2rem;
  line-height: 1;
  color: var(--primary-color);
}

.testimonial {
  width: 100%;
  background-color: white;
  padding: 20px;
}
.comments p {
  font-size: 14px;
}
.profile {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}
.avatar {
  width: 2.8rem;
  border-radius: 50%;
}
.avatar > p {
  font-size: 18px;
}
.swiper-pagination-bullet-active {
  background: var(--primary-color);
}
/*infos*/
.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.whatsapp button {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.info-2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 20px;
}
.info-2 li {
  display: flex;
  color: var(--text-color);
  align-items: center;
  gap: 5px;
}
/*footer*/
footer {
  background-color: var(--primary-color);
  padding: 0.8rem;
}
footer p {
  color: white;
  line-height: 40px;
  margin: 0px;
  padding: 0px;
}
.copy {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.copy span {
  color: white;
}

.up-arrow {
  opacity: 0;
  margin-right: 10px;
  visibility: hidden;
  transition: opacity 400ms, visibility 400ms ease-in-out;
}
.up-arrow.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  background-color: var(--primary-color);
  border: 1px var(--background) solid;
  color: red;
  height: 30px;
  width: 30px;
  transition: opacity 400ms, visibility 400ms ease-in;
  align-items: center;
  justify-content: center;
  right: 8px;
  border-radius: 50%;
  position: fixed;
  top: 80%;
  z-index: 1;
}
.up-arrow img {
  height: 18px;
  margin: auto;
}
@media (min-width: 730px) {
  .show ul {
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  .home {
    flex-direction: row-reverse;
  }
  .img-home {
    width: 50%;
  }
  .content {
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    gap: 20px;
  }
  .content p {
    padding: 0px;
  }
  .title {
    flex: 1;
  }
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    gap: 20px;
  }
  .card {
    height: 380px;
    padding: 0px;
    margin-bottom: 0px;
    gap: 0px;
    width: 85%;
  }
  .services {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .home {
    align-items: center;
  }
  .content {
    height: 250px;
  }
  .about {
    display: flex;
  }
  .img-about {
    width: 50%;
    height: 40%;
  }
  .info {
    flex-direction: row;
  }
  .info div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex: 1;
    justify-content: center;
    gap: 20px;
  }
  .info > div p {
    padding: 0px;
    width: 480px;
  }
  .title {
    font-size: 30px;
  }

  footer h3 {
    font-size: 25px;
  }

  .header svg {
    display: none;
  }
  .header {
    align-items: center;
  }
  .close {
    display: none;
  }
  .nav {
    opacity: 1;
    visibility: visible;
    position: static;
    padding: 1.5rem;
  }
  .nav ul {
    display: flex;
    gap: 1.5rem;
  }
  .nav ul li {
    list-style: none;
    font-size: 0.9rem;
    transition: 200ms ease-in;
    padding: 5px 0;
  }
  .nav ul li a {
    -webkit-font-smoothing: auto;
  }
  .nav ul li:hover {
    list-style: none;
    transition: 150ms ease-in-out;
    transform: scale(1.05);
  }
  .nav ul li a:hover {
    color: var(--primary-color);
    transition: 150ms ease-in-out;
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 0 50px;
  }
}
